<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="style.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  </head>
  <body>
    <div class="container">
      <h1>To-Do List</h1> <!-- <i class="fa fa-plus"></i>  ( goes inside the h1 ( cannot get to work on this site right now  ) )-->
      <input type="text" name="name" value="" placeholder="Add New Todo">
      <ul>
        <li><span><i class="fa fa-trash"></i></span> Apply for job</li>
        <li><span><i class="fa fa-trash"></i></span> Wow interviewer(s)</li>
        <li><span><i class="fa fa-trash"></i></span> Get Job</li>
      </ul>
    </div>
    <script scr="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
